<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="room_post.css">
</head>
<body>
    <div>
        <ul class="room_post_list">
            <li class="room_post rp1">
                <div class="room_post_img">
                    <a href=""><img src="img/room_post1.jpg" alt=""></a>
                </div>
                <div class="room_post_content">
                    <p class="price"><span>32 Triệu</span></p>
                    <h3 class="title"><a href="">DỰ ÁN VEN BIỂN CÓ SỔ NGAY CHÍNH SÁCH TỐT GIÁ CHỈ 4.2TR/M2 - Thao Nguyen</a></h3>
                    
                    <div class="intro">- với giá 4.2tr/m2 sỡ hưu ngay lô dt 200m2 - đường dây điện âm - 
                        trục đường 50m nối về biển hải ninh - mặt tiền đường ql1a - hạ tầng hoàn thiện, 
                        sổ đỏ có ngay - nằm ngay trung tâm hành chính huyện mới - vị trí liền kề mọi tiện ích 
                        và kết nối với mọi tiện nghi
                    </div>
                    <div class="info1">
                        Địa chỉ :
                    </div>
                    <div class="info2">
                        Địa chỉ :
                    </div>
                </div>
            </li>
            <li class="room_post rp1">
                <div class="room_post_img">
                    <a href=""><img src="img/room_post1.jpg" alt=""></a>
                </div>
                <div class="room_post_content">
                    <p class="price"><span>32 Triệu</span></p>
                    <h3 class="title"><a href="">DỰ ÁN VEN BIỂN CÓ SỔ NGAY CHÍNH SÁCH TỐT GIÁ CHỈ 4.2TR/M2 - Thao Nguyen</a></h3>
                    
                    <div class="intro">- với giá 4.2tr/m2 sỡ hưu ngay lô dt 200m2 - đường dây điện âm - 
                        trục đường 50m nối về biển hải ninh - mặt tiền đường ql1a - hạ tầng hoàn thiện, 
                        sổ đỏ có ngay - nằm ngay trung tâm hành chính huyện mới - vị trí liền kề mọi tiện ích 
                        và kết nối với mọi tiện nghi
                    </div>
                    <div class="info1">
                        Địa chỉ :
                    </div>
                    <div class="info2">
                        Địa chỉ :
                    </div>
                </div>
            </li>
            <li class="room_post rp1">
                <div class="room_post_img">
                    <a href=""><img src="img/room_post1.jpg" alt=""></a>
                </div>
                <div class="room_post_content">
                    <p class="price"><span>32 Triệu</span></p>
                    <h3 class="title"><a href="">DỰ ÁN VEN BIỂN CÓ SỔ NGAY CHÍNH SÁCH TỐT GIÁ CHỈ 4.2TR/M2 - Thao Nguyen</a></h3>
                    
                    <div class="intro">- với giá 4.2tr/m2 sỡ hưu ngay lô dt 200m2 - đường dây điện âm - 
                        trục đường 50m nối về biển hải ninh - mặt tiền đường ql1a - hạ tầng hoàn thiện, 
                        sổ đỏ có ngay - nằm ngay trung tâm hành chính huyện mới - vị trí liền kề mọi tiện ích 
                        và kết nối với mọi tiện nghi
                    </div>
                    <div class="info1">
                        Địa chỉ :
                    </div>
                    <div class="info2">
                        Địa chỉ :
                    </div>
                </div>
            </li>
            <li class="room_post rp1">
                <div class="room_post_img">
                    <a href=""><img src="img/room_post1.jpg" alt=""></a>
                </div>
                <div class="room_post_content">
                    <p class="price"><span>32 Triệu</span></p>
                    <h3 class="title"><a href="">DỰ ÁN VEN BIỂN CÓ SỔ NGAY CHÍNH SÁCH TỐT GIÁ CHỈ 4.2TR/M2 - Thao Nguyen</a></h3>
                    
                    <div class="intro">- với giá 4.2tr/m2 sỡ hưu ngay lô dt 200m2 - đường dây điện âm - 
                        trục đường 50m nối về biển hải ninh - mặt tiền đường ql1a - hạ tầng hoàn thiện, 
                        sổ đỏ có ngay - nằm ngay trung tâm hành chính huyện mới - vị trí liền kề mọi tiện ích 
                        và kết nối với mọi tiện nghi
                    </div>
                    <div class="info1">
                        Địa chỉ :
                    </div>
                    <div class="info2">
                        Địa chỉ :
                    </div>
                </div>
            </li>
            <li class="room_post rp1">
                <div class="room_post_img">
                    <a href=""><img src="img/room_post1.jpg" alt=""></a>
                </div>
                <div class="room_post_content">
                    <p class="price"><span>32 Triệu</span></p>
                    <h3 class="title"><a href="">DỰ ÁN VEN BIỂN CÓ SỔ NGAY CHÍNH SÁCH TỐT GIÁ CHỈ 4.2TR/M2 - Thao Nguyen</a></h3>
                    
                    <div class="intro">- với giá 4.2tr/m2 sỡ hưu ngay lô dt 200m2 - đường dây điện âm - 
                        trục đường 50m nối về biển hải ninh - mặt tiền đường ql1a - hạ tầng hoàn thiện, 
                        sổ đỏ có ngay - nằm ngay trung tâm hành chính huyện mới - vị trí liền kề mọi tiện ích 
                        và kết nối với mọi tiện nghi
                    </div>
                    <div class="info1">
                        Địa chỉ :
                    </div>
                    <div class="info2">
                        Địa chỉ :
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>