<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/fontawesome.min.css' %}">

{#    <script>#}
{#        $(function() {#}
{#            $("#header").load("header.html");#}
{#            $("#footer").load("footer.html");#}
{#        });#}
{#    </script>#}
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div id="id_back_top"></div>

{% include "header.html"%}
    <!-- slider -->

{% block content %}
{% endblock %}
{% include "footer.html" %}
</body>
</html>