<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="test.css">
</head>
<body style=" width:100%">
    <div class="main row" style="width: 80%;">
        <div class="left col-lg-9">
            <div class="hot_room_posts row">
                <div class="hot-room col">
                    <div class="new-room-img">
                        <a href=""><img src="img/new_room.jpg" alt=""></a>
            
                    </div>
                    <div class="basic-info">
                        <a href="">Bán căn 3 phòng ngủ 2 vệ sinh 77m2 chỉ 1,7 tỷ tại quận nam ...</a>
                        <p>Price</p>
                    </div>
                </div>
                <div class="hot-room col">
                    <div class="new-room-img">
                        <a href=""><img src="img/new_room.jpg" alt=""></a>
            
                    </div>
                    <div class="basic-info">
                        <a href="">Bán căn 3 phòng ngủ 2 vệ sinh 77m2 chỉ 1,7 tỷ tại quận nam ...</a>
                        <p>Price</p>
                    </div>
                </div>

                <div class="hot-room col">
                    <div class="new-room-img">
                        <a href=""><img src="img/new_room.jpg" alt=""></a>
            
                    </div>
                    <div class="basic-info">
                        <a href="">Bán căn 3 phòng ngủ 2 vệ sinh 77m2 chỉ 1,7 tỷ tại quận nam ...</a>
                        <p>Price</p>
                    </div>
                </div>
                <div class="new-room col">
                    <div class="new-room-img">
                        <a href=""><img src="img/new_room.jpg" alt=""></a>
            
                    </div>
                    <div class="basic-info">
                        <a href="">Bán căn 3 phòng ngủ 2 vệ sinh 77m2 chỉ 1,7 tỷ tại quận nam ...</a>
                        <p>Price</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="right col-3">
            <div class="hot-room ">
                <div class="new-room-img">
                    <a href=""><img src="img/new_room.jpg" alt=""></a>
        
                </div>
                <div class="basic-info">
                    <a href="">Bán căn 3 phòng ngủ 2 vệ sinh 77m2 chỉ 1,7 tỷ tại quận nam ...</a>
                    <p>Price</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>